@import "css/root.css";

@import "components/header.css";

body {
  font: var(--p);
  background: url("../images/space.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-color: black;
}
